* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}

.row {
    margin: 0;
    padding: 0;
}

.setting .mode {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.setting .mode .modeButton,
.mode-setting .modeDetails .modeDetailsButton {
    cursor: pointer;
}

.setting .mode-setting .modeDetails {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

#typing-content {
    letter-spacing: 0.15rem;
}

.modeButton, .modeDetailsButton {
    padding: 0.4rem 0.6rem;
    border-radius: 0.2rem;
}

.modeButton.active, .modeDetailsButton.active {
    background: rgb(141, 96, 0);
}